.navbar{
    
    height: 70px;
    width: auto;
    padding-left: 200px;
    position: absolute;
    margin: 15px 200px 2px 200px;
   
   
   border-radius: 100px;
 border-style:solid;
    border-color: skyblue;   
background-color:azure;
  
    
}

li {
    

    
    
    
}






#sidebar{
    
   
    
    width:170px;
    margin-left:20px;
    
    position: fixed;
        
        
        
    
    
    
}

*{
    
    align-content: center;
    
    
}
